@charset "UTF-8";

.menu{
    width: 98%;
    background: #444;
    left: 1%;
    display: flex;
    justify-content: left;
    padding: 0px 0px;
    position: absolute;

}

li {
    /*marcadores*/
    list-style: none;

    display: inline;
}

a {
    padding: 16px;
    color: #e7be55;
    /*apenas font mudamos o tamanho*/
    font: 1.5em Tahoma;
    text-decoration: none;
}

a:hover{
    padding: 16px;
    color: #fff;
    font: 1.5em Tahoma;
    text-decoration: none;

}

#conteudo{
    position: absolute;
    width: 98%;
    left: 1%;
    height: 80%;
    top: 15%;
    border: #b30606 4px solid;
}

#botao {
    text-align: right;
    padding: 8px;
 }	   

 #cadastrar {
    width: 30%;
    border-radius: 5px;
    background-color: #F0F8FF;
    color: black;
    border: 2px solid rgb(74, 226, 137);
  }
  
#cadastrar:hover {
         width: 30%;
         border-radius: 5px;
         background-color: #68d197;
         color: #F0F8FF;
         border: 2px solid #F0F8FF;
         cursor:pointer;
}

table {
    margin: 0 auto;
    width: 600px;
   }
   
td {
  padding: 8px;
 }

 img{
    width: 193px;
    height: 200px;
 }